body {
    background: linear-gradient(30deg, #4fdd6a, #31806d, #dbea87, #398948);
    background-size: 800% 800%;

    -webkit-animation: HackISU 30s ease infinite;
    -moz-animation: HackISU 30s ease infinite;
    -o-animation: HackISU 30s ease infinite;
    animation: HackISU 30s ease infinite;

}

@-webkit-keyframes HackISU {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

@-moz-keyframes HackISU {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

@-o-keyframes HackISU {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

@keyframes HackISU { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
    