.navText{
  color: rgba(255,255,255,.5); 
}
.navText:hover{
  color: rgba(255,255,255,.8);
  background-color: transparent;
}

section#FAQ .card{
  margin-bottom: 10px;
}

section#FAQ .card a{
  color: rgba(79, 221, 106, 1);
}

section#FAQ .card a:hover{
  color: rgba(49, 128, 109, 1);
}

.background{
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.15)), url(../images/background/headerWideShot.jpg);
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.scheduleBackground:hover{
  background-color: #eeeeee;
}

.topBorder{
  border-color: #818181;
  border-width: 1.5px;
}



#about{
  padding: 56px 0 0;
  margin: -56px 0 0;
}

#FAQ{
  padding: 56px 0 0;
  margin: -56px 0 0;
}

#schedule{
  padding: 56px 0 0;
  margin: -56px 0 0;
}

#sponsors{
  padding: 56px 0 0;
  margin: -56px 0 0;
}

#location{
  padding: 56px 0 0;
  margin: -56px 0 0;
}
