body{
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.navText{
  color: rgba(255,255,255,.5); 
}
.navText:hover{
  color: rgba(255,255,255,.8);
  background-color: transparent;
}

section#FAQ .card{
  background-color: rgba(0,203,166,1);
  margin-bottom: 10px;
}

section#FAQ .card a{
  color: white;
  /* text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black; */
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

section#FAQ .card-body p{
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 0 black; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.background{
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.15)), url(../images/background/headerWideShot.jpg);
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.greenBackgroundColor{
  background-color: rgba(49, 128, 109, 1);
}

.topBorder{
  border-color: #464646;
  border-width: 2px;
}

img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);

  /* -webkit-filter: drop-shadow(2px 2px 2px rgb(73, 73, 73));
  filter: drop-shadow(2px 2px 2px rgb(73, 73, 73)); */

}





/* #about{
  padding: 56px 0 0;
  margin: -56px 0 0;
}

#FAQ{
  padding: 56px 0 0;
  margin: -56px 0 0;
}

#schedule{
  padding: 56px 0 0;
  margin: -56px 0 0;
}

#sponsors{
  padding: 56px 0 0;
  margin: -56px 0 0;
}

#location{
  padding: 56px 0 0;
  margin: -56px 0 0;
} */
