.text-ISUcardinal{
  color: #C8102E !important;
}

.text-ISUgold{
  color: #F1BE48 !important;
}

.text-ISUblue{
  color: #006BA6 !important;
}

.text-ISUgray{
  color: #707372 !important;
}

.bg-ISUcardinal{
  background-color: #C8102E !important;
}

.bg-ISUgold{
  background-color: #F1BE48 !important;
}

.bg-ISUblue{

  background-color: #006BA6 !important;
}

.bg-ISUgray{
  background-color: #f7f7f7 !important;
}

body{
  padding-top: 56px; /* The navbar takes up 56px */
}

h1, h2, h3, h4 h5, h6 {
    /*text-transform: uppercase;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

h3.section-subheading {
    /*margin-bottom: 75px;*/
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
