section#register .btn{
  color: #212529;
  background-color: rgba(0,123,255, 1);
  border-color: rgba(0,123,255, 1);
  font-size: 2rem;
  padding: 0.375rem 0.75rem;
}

section#register .btn:hover{
  background-color: rgba(0, 225, 255, 0);
  /*border-color: rgba(0,123,255, 1);*/
}

section#FAQ .card{
  margin-bottom: 10px;
}

section#FAQ .card a{
  color: rgba(79, 221, 106, 1);
}

section#FAQ .card a:hover{
  color: rgba(49, 128, 109, 1);
}

.headerPicture{
  background-image: url(../images/background/headerWideShot.jpg);
  height: 42.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
