.text-hackGreen1{
  color: rgba(79, 221, 106, 1) !important;
}

.text-hackGreen2{
  color: rgba(49, 128, 109, 1) !important;
}

body{
  padding-top: 56px; /* The navbar takes up 56px */
}

h1, h2, h3, h4 h5, h6 {
    /*text-transform: uppercase;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

h3.section-subheading {
    /*margin-bottom: 75px;*/
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.jumbotron{
  margin-bottom: 0;
}

footer{
  padding-bottom: 10px;
}

section#footer i{
  font-size: 25px;
  color: rgba(79, 221, 106, 1);
}

section#footer i:hover{
  color: rgba(49, 128, 109, 1);
}
