.text-hackGreen1{
  color: rgba(79, 221, 106, 1) !important;
}

.text-hackGreen2{
  color: rgba(49, 128, 109, 1) !important;
}

body{
  /* The navbar takes up 56px */
  /* padding-top: 56px;*/
}

h1, h2, h3, h4 h5, h6 {
    /*text-transform: uppercase;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

h3.section-subheading {
    /*margin-bottom: 75px;*/
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.my-navbar{
  background: rgba(0, 0, 0, .7);
}

.jumbotron{
  margin-bottom: 0;
}

footer{
  padding-bottom: 10px;
}

footer ul li{
  margin: 1rem;
}

.btn{
  color: white;
  background-color: rgba(79, 221, 106, 1);
  border-color: rgba(79, 221, 106, 1);
  font-size: 2rem;
  padding: 0.375rem 0.75rem;

  -webkit-transition: all 1s ease-out;
  transition: all 0.4s ease-out;
}

.btn:hover{
  color: black;
  background-color: rgba(0, 225, 255, 0);
  border-color: rgba(49, 128, 109, 1);
}

.iconColor{
  color: rgba(79, 221, 106, 1);
}

.iconColor:hover{
  color: rgba(49, 128, 109, 1);
}