section#timeline ul {
  list-style-position: inside;
  text-align: left;

}

section#timeline li{
  font-size: 25px;

}

section#timeline li span{
  color: black;
  font-size: 14px;
}

.dot { /* Currently not being used */
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

.date{
  margin-left: 2.5rem;
}

.time{
  display:inline-block;
  width: 20%;
}
.event{
  display:inline-block;
  width: 40%;
}
.location{
  display:inline-block;
  width: 20%;
}

.general{
  color: #007bff;
}

.food{
  color: #fd7e14;
}

.workshop{
  color: #28a745;
}
